<configuration>
  <appSettings>
    <!--edoc地址-->
    <add key="edocUrl" value="http://edoc.truking.cn:8088" />
    <!--edoc持久化token-->
    <add key="edocToken" value="0034fb8fe789c5b34ed2b160598198ec86c8" />
    <!--crm地址-->
    <add key="crmUrl" value="http://192.168.47.137/CRM365" />
    <add key="crmDB" value="ConnectType=SqlClient;Server=192.168.47.137;Database=CRM365_MSCRM;User Id=sa;Password=Hello1234" />
  </appSettings>
</configuration>