<configuration>
  <appSettings>
    <add key="CRMConnect2" value="AuthType=AD;Url=http://crmdev.truking.cn:8000/crm;Domain=truking;Username=crm_oa;Password=ctkj.999" />
    <add key="CRMConnect" value="AuthType=IFD;Url=https://crm.truking.com;Username=TRUKING\crm_oa;Password=ctkj.999;ClientId=ffaaaf53-da3a-4630-9dea-a48c7e0bdbf2;ClientSecret=RYo6CRH9xro8SpmH4hZdRC3w33SMQoWIwNRL3cGE;TokenEndPoint=https://adfs.truking.com/adfs/oauth2/token;Domain=TRUKING;Resource=https://crm.truking.com/api/data/v8.2;" />
  </appSettings>
</configuration>