<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Truking.CRM.WinSrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Truking.CRM.WinSrv.Properties.Settings>
      <setting name="Truking_CRM_WinSrv_cn_truking_sappodev_selectsorder_SI_SEL_SORDER_OUTService"
        serializeAs="String">
        <value>http://sappodev.truking.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_ERP_S4&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SEL_SORDER_OUT&amp;interfaceNamespace=urn%3Aerp%3Aselect_sorder</value>
      </setting>
      <setting name="Truking_CRM_WinSrv_cn_truking_sappodev_recognition_SI_CUSTOMERRECOGNITION_OUTService"
        serializeAs="String">
        <value>http://sappodev.truking.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_ERP_S4&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CUSTOMERRECOGNITION_OUT&amp;interfaceNamespace=urn%3Aerp%3Aselect_customerrecognition</value>
      </setting>
      <setting name="Truking_CRM_WinSrv_cn_truking_sappodev_rate_SI_EXCHANGE_RATE_OUTService"
        serializeAs="String">
        <value>http://sappodev.truking.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_CRM&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EXCHANGE_RATE_OUT&amp;interfaceNamespace=urn%3Acrm%3Aexchange_rate</value>
      </setting>
    </Truking.CRM.WinSrv.Properties.Settings>
  </applicationSettings>
</configuration>